.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

.gallery-item {
  flex: 1 1 calc(33.33% - 16px);
  max-width: calc(33.33% - 16px);
  box-sizing: border-box;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
